@charset "UTF-8";
body{
	font-family: verdana, sans-serif;
}

h1,h2,h3{
	background-color: orange;
	text-align: center;
}

.error{
	color:ref;
}

table{
	width: 95%;
	background-color: green;
	border: 0;
	cellspacing: 0;
	cellpading: 5;
}

.campoConError{
	color:red;
}