<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<import resource="../database/spring-oracle01.xml"/>

	<bean id="idCDPersonXml" class="pe.etg.bbva.spring5.model.impl.CD0201v01PersonXml">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
</beans>
