<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!-- 
		El tag autore = byName posibilita relacionar los beans ya no por ref sino por su name 
	-->
	<bean id="idCECiudad" class="pe.etg.bbva.spring.entity.CE0403v01Ciudad">
		<property name="nombre" value="ANCASH"></property>
	</bean>

	<bean id="idCEPais" class="pe.etg.bbva.spring.entity.CE0402v01Pais">
		<property name="nombre" value="PERÚ"></property>
	</bean>

	<bean id="idCEPerson" class="pe.etg.bbva.spring.entity.CE0401v01Person">
		<property name="id" value="199"></property>
		<property name="codigo" value="DNU199"></property>
		<property name="nombre" value="Luis Alex Vásquez Díaz"></property>
		<property name="apodo" value="Pechito de lata"></property>
		
		<!-- Referencia explícita de la propiedad pais y ciudad -->
		<property name="pais" ref="idCEPais"></property>
		<property name="ciudad" ref="idCECiudad"></property>
	</bean>
	
</beans>
