<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-2.0.xsd">

	<context:component-scan base-package="etg.bbva"></context:component-scan>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	  <property name="prefix" value="/WEB-INF/"/>
	  <property name="suffix" value=".jsp"/> 
   </bean>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="/propiedad/messages_ES"></property>
	</bean>


	<!-- Factory bean that creates the Mongo instance -->
		<bean id="idMongo" class="org.springframework.data.mongodb.core.MongoClientFactoryBean">
			<property name="host" value="localhost"></property>
		</bean>

		<!-- MongoTemplate for connecting and quering the documents in the database -->
		<bean id="idMongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
			<constructor-arg name="mongoClient" ref="idMongo"></constructor-arg>
			<constructor-arg name="databaseName" value="test"></constructor-arg>
		</bean>
		
	<!-- Debe incluir el namespace para mongo:  xmlns:mongo="http://www.springframework.org/schema/data/mongo"  -->		
	<mongo:repositories base-package="etg.bbva.repositorio"></mongo:repositories>
</beans>
