<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 1.0 - Se crea información en base al constructor
	
		Los argumentos deben estar en el orden adecuado y ser del tipo correcto. 
	-->	
	
	<bean id="idCEMensaje" class="pe.etg.bbva.spring5.entity.CEMensaje">
		<constructor-arg value="150"></constructor-arg>
		<constructor-arg value="Arquitectura Host"></constructor-arg>
	</bean>

</beans>
